.swiper-banner {
	padding-bottom: 40px;
}

.swiper-wrapper {
	align-items: center;
  height: 615px;
}

.banner-slide {
	transition:
		transform 0.4s ease,
		box-shadow 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-slide img {
	width: 350px;
	height: 495px;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(179, 119, 255, 0.3);
	transition: all 0.3s ease;
	object-fit: cover;
}

.swiper-slide-active img {
	width: 410px;
	height: 615px;
	box-shadow: 0 0 30px rgba(179, 119, 255, 0.7);
	z-index: 10;
}
